
.m-auto {
	margin: 0 auto !important;
}

.result-card {
	width: 8.7in;
	background: url('/assets/dist/img/result-card-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.result-card .header {
	width: 100%;
    height: 250px;
    background: #fff;
    margin: 30px 50px 20px 50px;
    border-top-left-radius: 125px;
    border-bottom-left-radius: 125px;
}

.mt-10 {
    margin-top: 10px;
}

.header-bg {
    height: 95.5%;
    margin: 5px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    margin-left: 5px;
}

.header-bg .col-9 {
    border: 1px solid #128dc3;
    border-left: 0;
    position: static;
    background-color: lightgrey;
    background-image: linear-gradient(180deg, lightgrey, white);
}

.header .disk {
    background: #fff;
    width: 235px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    margin: -5px 0px 0px 12px;
}

.header img {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    border: 1px solid #128dc3;
    margin: 5px 0px 0px -15px;
}

.school-name {
	color: #395487;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    margin-left: 45px;
    font-family: 'times new roman';
    font-weight: bold;
    font-size: 34px;
    margin-top: 10px;
}

.result-card-text {
    margin-left: 45px;
    font-weight: bold;
    font-family: 'times new roman';
    color: #000;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.exam-name {
	color: #000;
    font-family: 'times new roman';
    font-weight: bold;
    margin-left: 45px;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.student-details {
	font-family: 'times new roman';
    line-height: 30px;
    color: #000;
    margin-left: 45px;
}

.student-details .underline {
	font-weight: bold;
    border-bottom: 2px solid #000;
}

.student-details .definition {
	margin-right: 5px;
}

.mr-15 {
	margin-right: 15px;
}

.result-card-content {
    width: 100%;
    margin: 0px 50px;
    min-height: 9.25in;
    position: relative;
}

.result-card-table {
    background: #fff;
    margin-bottom: 0px;
    color: #000 !important;
    border-bottom: 3px solid;
}

.result-card-table thead tr th,
.result-card-table tbody tr td {
	vertical-align: middle;
    white-space: nowrap;
}

.grand-total-table {
    border-top: 0 !important;
}

.grand-total-table thead {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.grand-total-table thead tr th {
    padding: 3px 7px 3px 7px !important;
    text-align: center !important;
    border-top: 0 !important;
}

.result-card-table thead tr th,
.result-info-table thead tr th,
.grades-table thead tr th,
.grand-total-table thead tr th:first-child,
.remarks-table tbody tr td:first-child {
	background: #424a55 !important;
	color: #fff !important;
	padding: 8px;
    text-align: center;
}

.result-info-table thead tr th,
.grades-table thead tr th,
.remarks-table tbody tr td {
    padding: 3px 7px 3px 7px !important;
}

.result-info-table thead tr:first-child,
.grades-table thead tr:first-child {
    border-bottom: 3px solid;
}

.result-card-table thead tr:first-child {
    border-bottom: 3px solid #000;
    border-top: 2px solid #fff !important;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.result-card-table tbody tr td,
.result-info-table tbody tr td,
.grades-table tbody tr td,
.remarks-table tbody tr td {
	padding: 3px;
    text-align: center;
}

.result-card-table tbody tr td:first-child {
    text-align: start !important;
}

.subject-name {
    font-weight: bold;
    padding-left: 10px !important;
    font-size: 16px;
}

.max-marks {
    font-size: 13px;
    font-weight: bold;
    padding: 3px 7px 3px 7px !important;
}

.obt-marks {
    font-size: 13px;
    padding: 3px 7px 3px 7px !important;
}

th.rotate {
    vertical-align: middle !important;
    writing-mode: vertical-lr;
    rotate: 180deg;
    padding: 15px 10px;
}

.footer .col-md-4 {
    text-align: center;
}

.footer .heading {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 15px;
}

.page-break {
    page-break-after: always;
}

@page {
    size: a4;
    margin: 10mm 0mm 0mm 0mm;
}

@media print{
    .col-md-1, .col-1 {width:8%;  float:left;}
    .col-md-2, .col-2 {width:16%; float:left;}
    .col-md-3, .col-3 {width:25%; float:left;}
    .col-md-4, .col-4 {width:33%; float:left;}
    .col-md-5, .col-5 {width:42%; float:left;}
    .col-md-6, .col-6 {width:50%; float:left;}
    .col-md-7, .col-7 {width:58%; float:left;}
    .col-md-8, .col-8 {width:66%; float:left;}
    .col-md-9, .col-9 {width:75%; float:left;}
    .col-md-10, .col-10{width:83%; float:left;}
    .col-md-11, .col-11{width:92%; float:left;}
    .col-md-12, .col-12{width:100%; float:left;}
}